body.container-fluid {
	margin: 5%;
}

p {
	display: inline-flex;
}

.citation-container {
	margin: 5%;
}
	.citation-container:hover {
		//
	}

.search {
	margin-right: 1%;
}

.input-group {
	display: block;
}
	.input-group .btn {
		margin-top: 1%;
	}

.citation-choice:focus {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

#myForm{
	width: 50%
}
